# bash
alias "open-bashrc"="code ~/.bashrc"
alias "open-zshrc"="code ~/.zshrc"
alias "open-aliases"="code ~/.aliases"
alias "src-shell"="source ~/.zshrc ~/.aliases"

# Display
alias cat="batcat --force-colorization"

# Directory
alias ls="eza --color=always --level=1 --tree --long --git --no-filesize --no-time --no-user --no-permissions"
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'
alias fzf='fzf --preview="cat {}"'

# Navigation
alias "goto-desktop"="cd ~/Desktop"
alias "goto-documents"="cd ~/Documents"
alias "goto-projects"="cd ~/Documents/projects"
alias "goto-arcadia"="cd ~/Documents/projects/arcadia"

# Postgres (if installed through apt)
alias "pgsql-status"="sudo systemctl status postgresql"
alias "pgsql-restart"="sudo systemctl restart postgresql"
alias "pgsql-start"="sudo systemctl start postgresql"
alias "pgsql-stop"="sudo systemctl stop postgresql"
alias "pgsql-kill"="sudo systemctl kill postgresql"
alias "pgsql-open-as-admin"="sudo -u postgres psql"

# TMUX
alias "open-tmux"="code ~/.tmux.conf"